name: Run tests

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:20
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: yarn install --frozen-lockfile
      - run: yarn test
      - run: yarn playwright install
      - run: npx --no playwright install --with-deps --only-shell
      - run: yarn test:browser
      - run: yarn build
